header{
    background: url('../img/bg.jpg') #1c3541;
    background-repeat: no-repeat;
    background-position:center;
    max-height: 600px;
}
header .menu{
    margin: 40px 0;
    text-align: right;
}
.logo{
    text-align: left;
}
.logo img{
    width: 100px;
}
header .menu a{
    margin: 0 20px;
    color: #fff;
    padding-bottom: 9px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-size:1em;
    position: relative;
}
header .menu a:hover{
    border-bottom: 2px solid #fff;
}
header .contenedor-texto {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 190px 0;
}
header .contenedor-texto .texto{
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
}
header .contenedor-texto .texto h1, h2  {
    color: #fff;
    font-weight: 300;
    margin: 0;
}
header .contenedor-texto .texto .nombre{
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 50px;
}
header .contenedor-texto .texto .profesion{
      font-size: 25px;
    line-height: 25px;
}

.menu a.activo {
    border-bottom: 2px solid #fff;
}

.lang-selector {
  font-size: 0.8rem;
  color: white;
}

.lang-selector a,
.lang-selector .activo {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0 5px;
  display: inline-block;
  margin: 0 5px;
}

.lang-selector a {
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

.lang-selector a:hover {
  opacity: 1;
  text-decoration: underline;
}

.lang-selector .activo {
  opacity: 1;
  font-weight: bold;
  cursor: default;
}

.lang-selector img {
  vertical-align: middle;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
}